<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta content="IE=edge" http-equiv="X-UA-Compatible" />
  <meta content="width=device-width,initial-scale=1" name="viewport" />
  <meta content="description" name="description" />
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by HIGHFREQ.CR team" name="author" />

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no" />

  <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png" />
  <link href="./static/assets/favicon.ico" rel="icon" />

  <title>Title page</title>

  <link href="./static/main.3f6952e4.css" rel="stylesheet" />
</head>

<body class="">
  <div id="site-border-left"></div>
  <div id="site-border-right"></div>
  <div id="site-border-top"></div>
  <div id="site-border-bottom"></div>
  <!-- Add your content of header -->
  <header>
    <nav class="navbar navbar-fixed-top navbar-default">
      <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse"
          aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="./index.html" title="">01 : Home</a></li>
            <li><a href="./works.html" title="">02 : Works</a></li>
            <li><a href="./about.html" title="">03 : About me</a></li>
            <li><a href="./contact.html" title="">04 : Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 section-container-spacer">
          <div class="text-center">
            <h1 class="h2">02 : Works</h1>
            <p>
              Penetration Tester

              A Penetration Tester, also known as an Ethical Hacker,
              assesses the security of computer systems and networks
              by simulating attacks to identify vulnerabilities and weaknesses
              that could be exploited by malicious hackers.
              Penetration Testers work to find weaknesses in security systems
              before illegal hackers can exploit them. They are responsible for
              testing and identifying security vulnerabilities in software, hardware, and networks.
            </p>
          </div>
        </div>

        <div class="col-md-12">
          <div id="myCarousel" class="carousel slide projects-carousel">
            <!-- Carousel items -->
            <div class="carousel-inner">
              <div class="item active">
                <div class="row">
                  <div class="col-sm-4">
                    <a href="./work.html" title="" class="black-image-project-hover">
                      <img src="./static/assets/images/work02-hover.webp" alt="" class="img-responsive" />
                    </a>
                    <div class="card-container card-container-lg">
                      <h4>001/006</h4>
                      <h3>Responsibilities</h3>
                      <p>
                        Conducting both manual and automated penetration tests on computer systems and networks.
                        Identifying weaknesses and vulnerabilities in networks and systems.
                        Collaborating with IT and security teams to develop and implement effective security measures.
                        Preparing detailed reports of vulnerabilities found and providing recommendations for
                        remediation.
                      </p>
                      <a href="./work.html" title="" class="btn btn-default">Discover</a>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <a href="./work.html" title="" class="black-image-project-hover">
                      <img src="./static/assets/images/work01-hover.jpg" alt="" class="img-responsive" />
                    </a>
                    <div class="card-container card-container-lg">
                      <h4>002/006</h4>
                      <h3>Qualifications</h3>
                      <p>
                        Proven experience working as a Penetration Tester or Ethical Hacker.
                        Knowledge of common penetration testing tools and techniques.
                        Relevant certification by "Zero to Mastery" academy.
                      </p>
                      <a href="./work.html" title="" class="btn btn-default">Discover</a>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <a href="./work.html" title="" class="black-image-project-hover">
                      <img src="./static/assets/images/work03-hover.webp" alt="" class="img-responsive" />
                    </a>
                    <div class="card-container card-container-lg">
                      <h4>003/006</h4>
                      <h3>Skills</h3>
                      <p>
                        As a Penetration Tester, you should have excellent analytical and problem-solving skills.
                        You should have a deep understanding of computer systems and networks.
                        You should be able to work independently and as part of a team.
                        You should have strong communication skills and be able to present technical information in a
                        clear and concise manner.
                        Additionally, you should have the ability to work under pressure and meet tight deadlines.
                      </p>
                      <a href="./work.html" title="" class="btn btn-default">Discover</a>
                    </div>
                  </div>
                </div>
                <!--/row-->
              </div>
              <!--/item-->
              <div class="item">
                <div class="row">
                  <div class="col-sm-4">
                    <a href="./work.html" class="black-image-project-hover">
                      <img src="./static/assets/images/python.webp" alt="Image" class="img-responsive" />
                    </a>
                    <div class="card-container">
                      <h4>004/006</h4>
                      <h3>Python</h3>
                      <p>
                        Complete Python Developer in 2022
                        Certified by Zero to Mastery
                        31 Hours
                      </p>
                      <a href="./work.html" class="btn btn-default">Discover</a>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <a href="./work.html" class="black-image-project-hover">
                      <img src="./static/assets/images/ethical.webp" alt="Image" class="img-responsive" />
                    </a>
                    <div class="card-container">
                      <h4>005/006</h4>
                      <h3>Ethical Hacker</h3>
                      <p>
                        Complete Ethical Hacker Bootcamp 2023
                        Certified by Zero to Mastery
                        29 Hours
                      </p>
                      <a href="./work.html" class="btn btn-default">Discover</a>
                    </div>
                  </div>

                  <div class="col-sm-4">
                    <a href="./work.html" class="black-image-project-hover">
                      <img src="./static/assets/images/hacker.webp" alt="Image" class="img-responsive" />
                    </a>
                    <div class="card-container">
                      <h4>006/006</h4>
                      <h3>Hacking Etico Ofensivo</h3>
                      <p>
                        Hacking Etico Ofensivo. Red Team 2023.
                        42.5 Horas
                      </p>
                      <a href="./work.html" class="btn btn-default">Discover</a>
                    </div>
                  </div>
                </div>
                <!--/row-->
              </div>

              <!--/item-->
            </div>
            <!--/carousel-inner-->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>

            <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
          </div>

          <!--/myCarousel-->
        </div>
      </div>
    </div>
  </div>

  <footer class="footer-container text-center">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <p>© HIGHFREQ | Website created by HIGHFREQ CR ></p>
        </div>
      </div>
    </div>
  </footer>

  <script>
    document.addEventListener("DOMContentLoaded", function (event) {
      navActivePage();
    });
  </script>

  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID 

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

-->
  <script type="text/javascript" src="./static/main.70a66962.js"></script>
</body>

</html>